@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  overflow: hidden;
}

::-webkit-scrollbar-thumb {
  min-height: 44px;
  min-width: 44px;
  background-color: var();
  border-radius: 44px;
  border: 5px solid var();
  background-clip: padding-box;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 3px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: "";
}

::-webkit-scrollbar-thumb:hover {
  background: "";
}




