@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

*::-webkit-scrollbar {
  width: 2px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 1px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--tertiary);
}


